*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    /*font-family:courier-sans-serif;*/
}
body {
    background-color: rgb(209, 202, 193);
}
/*.containerbody{
    width: 150%;
    height: 20px;
    margin: 2px 2px 2px 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;*/

}
.containerheader {
    width: 100%;
    height: 20px;
    margin: 2px 2px 2px 2px;
    display: flex;
    /*flex-direction: column-reverse;*/
}
.img11{
    display: flex;
    flex-direction: column-reverse;
}
.img1 {

    width: 100%;
    height: 300px;
    align-items: center;
    border-image: auto;

}
section{
    width: 100%;
        height: 300px;
        padding: 1px 15px 1px 15px;
        border: 15px 15px 15px 15px;
        margin: 1px 1px 1px 1px;
}

/*.titulop{
    width: 100%;
    height: 100%;
    font-size: 60px;
color: rgb(10, 15, 1);
position: absolute;top:30px ;
}*/
.containermain{
   /* width: 100%;*/
    /*height: 100px;*/
   /* margin: 2px 2px 2px 2px;*/
   /* display: flex;*/
    /*justify-content: center;*/
   /* flex-direction: row-reverse;*/
    
}

.titulologo {
    width:100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    /*position: static;*/
    top: 1px;
    
}
.logo{
width: 70px;
height: 70px;
/*justify-content: left;*/
padding: 1px 1px 1px 1px;
}
/*.box{
    align-self:first baseline;
}*/
    

/*.img11 {
    
    width: 100%;
    height: 20%;
    background-color: yellow;*/
    
}

.imgsec{
    width: 100px;
    height: 50px;
    
}
header {
    /*width: 100%*/;
    /*height:0%;*/
   /* background-color: yellow;*/
    /*margin:1px 0px 1px 0px;*/
}


/*figure{
    padding: 0;
}*/
/*nav a {
    position: relative;
    padding: 0;
    width: 100%;
    height: 10%;
    top: 120px;
    left: 10px;
    right: 100;
    display: block;
    box-sizing: border-box;
}*/
.box{
    /*position: absolute;*/
    /*align-self:center;*/
    top:360px;
   /* line-height: 100%;*/
   /*vertical-align: middle;*/
    line-height:85px;
    }
/*nav{
    border:3px solid black;
}*/
.ancor{
    /*display: block;*/
    background-color: rgb(222, 224, 51);
    /*position:relative; border-bottom-width:520px;*/
    width: 250px;
    height: 50px;
    padding: 1px 1px 1px 1px;
    margin: 1px 4px 4px 1px;
    border: 3px groove black;
    /*border-bottom-style:solid*/
    border-radius:5px 15px 15px 15px;
    text-align: center;
    
}
/*.logo{
    width: 12%;
    height: 20%;
    display: block;
    position: absolute;
        top: 150px;
        left: 900px;
}*/
/*.titulologo{
    background-color: black;
    color: white;
    text-align: center;
    position: static;
    top: 1px;0px
}*/
/*.containerseccion{
    width: 80%;
    height: 100px;
    margin: 2px 2px 2px 2px;
    display: flex;
    flex-direction: column;*/
}
/*article{
    width: 150vh;        
    height: 300px;
    padding: 15px 1px 15px 1px;
    border: 15px 15px 15px 15px;
    margin: 30px 30px 30px 30px;*/
    /*display: block;*/
            /*line-height: 30px;
                width: 100%;
                top: 50px;
                   left: 120px;*/
        }
  /*.div1 {
        position: relative;
        top: 50px;
        left: 120px;
        display: block;
                }
                h3{
                line-height: 35px
                }
     p{
     line-height: 15px
     position: absolute ;top:9px;
     }*/
/*footer{
    padding: 5px;
    width: 250;
    /*position: relative;*/
    /*display: flex;
    margin: 200px;*/
}
/*table {
    background-color: aliceblue;
    height: 50vh;
    width: 40rem;
    table-layout: auto;
    border-spacing: 5px;
    border-collapse: collapse;
    empty-cells: hide;
    caption-side: bottom;
}*/
tr{
    border: 2px solid;
    border-color: rgb(37, 53, 33);
    text-align: center;
}
table,th,td {
    border: 1px solid;
    border-color: rgb(37, 53, 33);
    text-align: center;
}
li{ 
    list-style-position: inside;
}
ul>li {
    list-style-type:circle;
}
.lista2 {
    
    list-style-type:lower-latin;
}
.containerfoot {
   width: 150vh;
   height: 30%;
   padding: 15px 15px 15px 15px;
   border: 15px solid rgb(255, 255, 255);
   margin: 30px 30px 30px 30px;
   box-sizing:border-box ;
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   /*background-color:brown
    display:flex;
    justify-content: center;
    align-items:center;*/
}
.div1{
    width: 100%;
    height: 300px;
    padding: 15px 15px 15px 15px;
    border: 15px 15px 15px 15px;
    margin: 30px 30px 30px 30px;
}
article{
    padding: 10px 15px 15px 15px;
}
